.home-container {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background-color: azure;
}

.header-container {
	/* position: fixed; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 50px;
	/* font-size: 34px; */
	width: 100vw;
	box-sizing: border-box;
}

.nav-contents {
	display: block;
	flex-direction: row;
	justify-content: space-between;
	padding: 7px 3px;
	margin: 15px;
	flex-wrap: wrap;
	/* border: 1px solid; */
	background-color:aliceblue;
	box-shadow: -2px 4px 12px gray;
	border-radius: 4px;
	box-sizing: border-box;
}

.dates {
	padding: 5px;
	border-right: 1px solid lightgray;
	box-sizing: border-box;
}
.last-date{
	padding: 5px;
}
.dates:hover{
	box-shadow: -1px 4px 6px gray;
	border-bottom: 2px solid #52ff2f;
}
.last-date:hover{
	box-shadow: -1px 4px 6px gray;
	border-bottom: 2px solid #52ff2f;
}